body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #454552;
    margin: 0;
    overflow: hidden;
}

.saved-container {
    text-align: center;
    width: 750px;
    max-height: 100vh;
    padding: 30px;
    background: linear-gradient(135deg, #1e1e2e, #2a2a40);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    overflow-y: auto; 
}

.logo {
    width: 210px; 
    height: 50px;
    margin-bottom: 15px;
}

h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.summary-item {
    background: #e4e4ee;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Header (Domain & Date) */
.summary-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin-bottom: 6px;
}

.summary-content {
    font-size: 16px;
    color: #666;
    text-align: justify;
}

.delete-btn {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    align-self: flex-end;
}

.delete-btn img {
    width: 16px;
    height: 16px;
}

.delete-btn:hover {
    background: #d32f2f;
}

#savedSummariesContainer {
    max-height: 400px;
    overflow-y: auto;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Scrollbar styles */
#savedSummariesContainer::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

#savedSummariesContainer::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}

#savedSummariesContainer::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

#savedSummariesContainer::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

#savedSummariesContainer::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #0A2375;
    border: 1px solid #FFFFFF;
}

#savedSummariesContainer::-webkit-scrollbar-thumb:hover {
    background-color: #3134A3;
}

#savedSummariesContainer::-webkit-scrollbar-thumb:active {
    background-color: #5934A3;
}

